.sup-section {
    color: var(--text-dark-color);
}

.section-subhead {
    text-transform: uppercase;
}

.section-mainhead {
    font-size: 40px;
}

.sup-head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.sup-head-right {
    width: 45%;
}

.sup-body {
    display: flex;
    justify-content: space-between;
}

.support-card {
    background-color: var(--bg-dark-color);
    color: var(--text-light-color);
    min-height: 350px;
    position: relative;
    z-index: -1;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-bottom: 45px;
}

.support-card-container {
    margin: 0 2rem;
    width: 100%;
    /* min-width: 20rem; */
}

.card-figure {
    position: absolute;
    top: 70%;
    left: 70%;
    z-index: -2;
}

.support-card-title {
    text-transform: uppercase;
    font-size: 40px;
    max-width: 80%;
    text-align: center;
}

.support-card-number {
    position: absolute;
    top: 10%;
    left: 10%;
    font-size: 40px;
}


@media screen and (max-width:991px) {
    .support-card {
        min-height: 330px;
    }

    .support-card-container {
        margin: 0 1rem;
    }

    .support-card-title {
        font-size: 30px;
    }
}

@media screen and (max-width:767px) {
    .sup-body {
        display: block;
    }

    .support-card {
        margin: 0 2rem;
    }
}